<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="jquery-3.1.0.js"></script>
		<script src="vue.js"></script>
		<script src="https://use.fontawesome.com/a98a9a9a40.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>

	<body id="settings" >

		<audio id="aud_wrong" src="audio/wrong.mp3"></audio>

		<div class='wrapper'>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/a.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/b.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/highc.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/f.mp3"></audio>
			</div>	

			<div class="cell">
				<button>
					<i class="fa fa-info" aria-hidden="true"></i>
				</button>
				<button id="set">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</button>
				<span id="counter">00</span>
				<button id="strict">strict</button>
				<button id="go">start</button>
			</div>	

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/g.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/lowc.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/d.mp3"></audio>
			</div>

			<div class="cell cell-note">
				<button class="btn btn-note"></button>
				<audio src="audio/e.mp3"></audio>
			</div>

		</div>


		<div class="settings" v-show="DISPLAY_SETTINGS">
			<span>settings: </span>
			<label>playback intervals
				<input type="checkbox" v-model="PLAYBACK_INTERVALS">
			</label>
			<label>strict mode
				<input type="checkbox" v-model="STRICT_MODE">
			</label>
			<label>playback delay
				<input type="text" v-model="PLAYBACK_DELAY">
			</label>
			<label>color shift
				<input type="text" v-model="COLOR_SHIFT">
			</label>
			<label>win at
				<input type="text" v-model="WIN_AT">
			</label>

			<button id="close-settings">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>

		</div>

		<script src="main.js"></script>

	</body>
</html>