.btn {
	display: inline-block;
	border: none;
	background: none;
	outline: none;
	width: 100%;
	height: 100%;
}

body {
	background: #ccc;
}

/* order intended to keep the color difference between neighbouring buttons (360/8=+45deg), hsl color format makes that easier */
.cell:nth-child(1) .btn {background-color: hsl(0, 75%, 50%);}
.cell:nth-child(6) .btn {background-color: hsl(45, 75%, 50%);}
.cell:nth-child(7) .btn {background-color: hsl(90, 75%, 50%);}
.cell:nth-child(2) .btn {background-color: hsl(135, 75%, 50%);}
.cell:nth-child(9) .btn {background-color: hsl(180, 75%, 50%);}
.cell:nth-child(4) .btn {background-color: hsl(225, 75%, 50%);}
.cell:nth-child(3) .btn {background-color: hsl(270, 75%, 50%);}
.cell:nth-child(8) .btn {background-color: hsl(315, 75%, 50%);}

.cell:nth-child(5) button {
	display: inline-block;
	border: none;
	background: none;
	outline: none;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 0;
}

.cell:nth-child(5) button:hover {
	color: red;
}

.cell:nth-child(5) {
	background-color: #eee;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	width: 80px;
	height: 80px;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
}

#counter {
	width: 100%;
	text-align: center;
}

.cell {
	position: relative;
	margin: 5px;
	width: 100px;
	height: 100px;
}

.wrapper {
	margin: 0 auto;
	border-radius: 2px;
	padding: 5px;
	background: #eee;
	width: 330px;
	display: flex;
	align-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
label {
	display: block;
}
#close-settings {
	border: none;
	background: none;
	outline: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
.settings {
	position: relative;
	margin: 0 auto;
	border-radius: 2px;
	background: #eee;
	width: 320px;
	padding: 10px;
}